table {
    border: 5px solid #333;
    table-layout: auto;
    width: 1200px;
}


td {
    border: 1px solid #333;
    table-layout: auto;
    width: 1200px;
    height: 500px;

}

.outerdiv{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;

}
.colscrollbar{
    overflow-y: scroll;
    height: 500px;
    border: 1px solid #333;
}

.taskdiv{
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
}

.userStoryDiv {
    width: 100%;
    border: 1px solid black;
}