table {
    table-layout: auto;
    width: 100%;
}

.myBody {
    background-color: darkcyan;
}

td {
    border: 1px solid #333;
    table-layout: auto;
    width: 1200px;
    height: 500px;

}

.outerdiv {
    margin-top: 50px;
    margin-left: 50px;
    width: 1200px;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;

}

.colscrollbar {
    overflow-y: scroll;
    height: 500px;
    border: 1px solid #333;
}

.taskdiv {
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
}

.userStoryDiv {
    width: 100%;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 255, 0, 0.1)
}

.story-row {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.story-div {
    font-size: 15px;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    opacity: 0.9;
}

.colscrollbar-x {
    overflow-x: scroll;
    border: 1px solid #333;
}

.real-outer-div {
    display: flex;
}

.new-task-div {
    margin: 10px;
    padding: 10px;
}

.function-row {
    margin: 1px;
    padding: 1px;
}

.table-div {
    background-color: rgba(0, 255, 0, 0.1);
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.story-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.story.div {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
}
.story-div.over {
    border: 3px dotted #666;
}