<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="myBody">


<div class="real-outer-div">

    <div class="new-task-div col-1" id="new-task-div">
        <div class="row function-row">
            <button class="btn btn-success" id="create-new-task-button" data-bs-toggle="modal"
                    data-bs-target="#myModal3">
                Create new story
            </button>
        </div>
    </div>
    <div class="container">
        <div class="outerdiv container">


            <h1 id="header-sprint" style="align-self: center"></h1>

            <select id="sprint-select" class="form-select" aria-label="Default select example"></select>

            <div class="userStoryDiv container-md">
                <h1>User Stories</h1>
                <div class="story-row colscrollbar-x" id="backlog">

                </div>


                <div class="story-row colscrollbar-x" id="sprint-backlog">

                </div>

                <!-- The view task Modal -->

                <div id="myModal" class="modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p id="p-modal-name">Some text in the Modal..</p>
                                <p id="p-modal-date">Some text in the Modal..</p>
                                <p id="p-modal-status">Some text in the Modal..</p>
                                <label for="input-time">Time Spent</label><br>
                                <input id="input-time" type="number"><br>
                                <p id="p-modal-id" hidden>Some text in the Modal..</p>
                                <span>
                <label for="dropDownModal">Set Status</label><br>
                <select class="form-select" aria-label="Default select example" id="dropDownModal">
                    <option value="inprogress">inprogress</option>
                    <option value="review">review</option>
                    <option value="done">done</option>
                    <option value="notstarted">notstarted</option>
                </select>
            </span>
                                <div id="divUserDropDown">
                                    <label for="dropDownUserTask">Assign to</label><br>
                                    <select id="dropDownUserTask" class="form-select" aria-label="Default select example">
                                    </select>
                                </div>
                                <br>

                                <h1>Description</h1>
                                <div class="divDesc">
                                    <p id="descriptionText"></p>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button class="btn btn-info" type="button" id="setstatus" data-bs-dismiss="modal">Save
                                    Changes
                                </button>
                                <button id="delete" class="btn btn-secondary" data-bs-dismiss="modal">delete</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- The view story Modal -->

                <div id="myModal4" class="modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">View story</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p id="p-smodal-name">Some text in the Modal..</p>
                                <p id="p-smodal-status">Some text in the Modal..</p>
                                <p id="p-smodal-id" hidden>Some text in the Modal..</p>
                                <br>
                                <h3>Description</h3>
                                <div class="divDesc">
                                    <p id="sdescriptionText"></p>
                                </div>
                                <div id="taskStory">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-info" type="button" id="updateStory" data-bs-dismiss="modal">Save
                                    Changes
                                </button>
                                <button id="deleteStory" class="btn btn-secondary" data-bs-dismiss="modal">delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The create new Story Modal -->
                <div id="myModal3" class="modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Create new story</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <form id=story-form>
                                    <label for="sname">Story Name:</label><br>
                                    <input type="text" id="sname" name="name"><br>
                                </form>
                                <label for="description">Enter text here...</label><br>
                                <textarea rows="4" cols="50" name="description" id="sdescription"
                                          form="task-form"></textarea>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-info" form="task-form" id='storySubmitBtn' data-bs-dismiss="modal"
                                        type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- The create new task Modal -->
                <div id="myModal2" class="modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="p-modal-storytitle">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p id="p-modal-taskname"></p>
                                <p id="p-modal-taskdesc">Some text in the Modal..</p>

                                <form id=task-form>
                                    <label for="tname">Task Name:</label><br>
                                    <input type="text" id="tname" name="name"><br>
                                    <label for="testimated-time">Estimated time:</label><br>
                                    <input type="number" id="testimated-time" name="estimatedTime"><br>

                                </form>
                                <label for="description">Enter text here...</label><br>
                                <textarea rows="4" cols="50" name="taskDescription" id="description"
                                          form="task-form"></textarea>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-info" form="task-form" id='taskSubmitBtn' data-bs-dismiss="modal"
                                        type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="table-div container" id="table-div">
            <table>
                <thead>
                <tr>
                    <h2>Task overview</h2>
                </tr>
                </thead>
                <th scope="col" class>not started</th>
                <th scope="col">in progress</th>
                <th scope="col">review</th>
                <th scope="col">done</th>
                <tbody>
                <tr class="rows">
                    <td id="notstarted" class="notstarted taskZone">
                        <div class="colscrollbar " id="divnotstarted">
                        </div>
                    </td>
                    <td id="inprogress" class="inprogress taskZone">
                        <div class="colscrollbar" id="divinprogress">
                        </div>
                    </td>
                    <td id="review" class="review taskZone">
                        <div class="colscrollbar" id="divreview">
                        </div>
                    </td>
                    <td id="done" class="done taskZone">
                        <div class="colscrollbar" id="divdone">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>




</div>
<script src="js/UserStoryJs.js" defer></script>
<script src="js/js.js" defer></script>
<script src="js/draganddrop.js" defer></script>

</body>

</html>