<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<h1 id="header-sprint"></h1>

<div class="outerdiv">
    <div>
        <select id="sprint-select">

        </select>
    </div>

    <div class="new-task-div" id="new-task-div">
        <button class="create-new-task-button" id="create-new-task-button">Create new task</button>

    </div>
    <div class="table-div" id="table-div">
        <table>
            <thead>
            <tr>
                <th colspan="4">Overview</th>
            </tr>
            </thead>
            <th>not started</th>
            <th>in progress</th>
            <th>review</th>
            <th>done</th>
            <tbody>
            <tr class="rows">
                <td id="notstarted" class="notstarted">
                    <div class="colscrollbar" id="divnotstarted">
                    </div>
                </td>
                <td id="inprogress" class="inprogress">
                    <div class="colscrollbar" id="divinprogress">
                    </div>
                </td>
                <td id="review" class="review">
                    <div class="colscrollbar" id="divreview">
                    </div>
                </td>
                <td id="done" class="done">
                    <div class="colscrollbar" id="divdone">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- The view task Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="p-modal-name">Some text in the Modal..</p>
            <p id="p-modal-date">Some text in the Modal..</p>
            <p id="p-modal-status">Some text in the Modal..</p>
            <label for="input-time">Time Spent</label><br>
            <input id="input-time" type="number"><br>
            <p id="p-modal-id" hidden>Some text in the Modal..</p>
            <span>
                <label for="dropDownModal">Set Status</label><br>
                <select id="dropDownModal">
                    <option value="inprogress">inprogress</option>
                    <option value="review">review</option>
                    <option value="done">done</option>
                    <option value="notstarted">notstarted</option>
                </select>
            </span>
            <div id="divUserDropDown">
                <label for="dropDownUserTask">Assign to</label><br>
                <select id="dropDownUserTask">
                </select>
            </div>
            <br>
            <button id="setstatus">Save Changes</button>
            <button id="delete">delete</button>
            <h1>Description</h1>
            <div class="divDesc">
                <p id="descriptionText"></p>
            </div>

        </div>


    </div>

    <!-- The create new task Modal -->
    <div id="myModaltask" class="modal2">

        <!-- Modal content -->
        <div class="modal-content2">
            <span class="close2">&times;</span>
            <p id="p-modal-taskname"></p>
            <p id="p-modal-taskdesc">Some text in the Modal..</p>
            <span>
                <form id=task-form>
                      <label for="tname">Task Name:</label><br>
                      <input type="text" id="tname" name="name"><br>
                          <label for="testimated-time">Estimated time:</label><br>
                      <input type="number" id="testimated-time" name="estimatedTime"><br>
                      <input id='submitBtn' type="button" value="Submit">
                </form>
                 <label for="description">Enter text here...</label><br>
                 <textarea rows="4" cols="50" name="description" id="description"
                           form="task-form"></textarea>
            </span>
        </div>

    </div>

</div>
<script src="js/js.js"></script>
<script src="js/modals.js"></script>
</body>

</html>